.heading {
  margin-top: 5.5rem;
  color: rgb(117, 122, 126);
  border: 1px solid rgb(189, 186, 186);
  width: 40%;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  margin-left: 3rem;
}
.cart-data {
  width: 15rem;
  height: 11rem;
  border: 1px solid rgb(109, 107, 107);
  position: fixed;
  right: 3rem;
  top: 10.5rem;
  border-radius: 0.5rem;
  padding: 2rem 2rem 1rem 2rem;
}
.cart-container {
  /* border: 1px solid red; */
  margin-top: 0rem !important;
  width: 75%;
}
.cart-data h4 {
  color: rgb(119, 119, 113);
  line-height: 1.9rem;
}
.cart-data span {
  color: rgb(83, 70, 129) !important;
}
.cart-data h4:nth-child(4) {
  border-top: 1px solid rgb(117, 113, 113);
  color: rgb(0, 0, 0) !important;
  border-bottom: 1px solid rgb(117, 113, 113);
}

.svg img{
  width: 40%;
  padding: 1rem;
}